add proper checking of paperclip ffmpeg attachment

See: http://stackoverflow.com/questions/21897725/papercliperrorsmissingrequiredvalidatorerror-with-rails-4

Possible content types (from http://en.wikipedia.org/wiki/Internet_media_type):
- video/avi: Covers most Windows-compatible formats including .avi and .divx[17]
- video/example: example in documentation, Defined in RFC 4735
- video/mpeg: MPEG-1 video with multiplexed audio; Defined in RFC 2045 and RFC 2046
- video/mp4: MP4 video; Defined in RFC 4337
- video/ogg: Ogg Theora or other video (with audio); Defined in RFC 5334
- video/quicktime: QuickTime video; Registered[18]
- video/webm: WebM Matroska-based open media format
- video/x-matroska: Matroska open media format
- video/x-ms-wmv: Windows Media Video; Documented in Microsoft KB 288102
- video/x-flv: Flash video (FLV files)
